
body {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  z-index: -1;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 1s;
  z-index: 1;
}

nav.black {
  background: rgba(0, 0, 0, 0.7);
  height: 100px;
  padding: 10px 100px;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
}

nav .logo i {
  display: none;
  color: black;
}

nav.black .logo {
  color: #fff;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color:black;
}

nav.black ul li a {
  color: #fff;
}


nav ul li a.active {
  background: #e2472f;
  color: #fff;
  border-radius: 6px;
}

/* Header image */
section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(image-blue-sky-1054218.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content {
  margin-top: 2rem;
}

.content p {
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

/* Footer */
.site-footer {
  font-size: 16px;
  background: #222;
  padding: 7em 0;
  display: block;
}

.site-footer .site-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.45;
    font-family: "Playfair Display", serif;
}

.site-footer p {
    color: rgba(255, 255, 255, 0.3);
    margin-top: 0;
    margin-bottom: 1rem;
}

#dno {
    margin-right: auto;
    margin-left: auto;
    padding-right: 8rem;
    padding-left: 8rem;
    color: #b8b8b8;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.5s all ease;
    text-decoration: none;
}

.site-footer a:hover {
  color: #FDA403;
  text-decoration: none;
}

.list {
  list-style: none;
  display: block;
  padding-left: 0;
}

.site-footer-social li {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block;
}

.site-footer-social li a {
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
    /* Izrada kruga u pozadini drustvenih ikona */
}

.site-footer-social li a:hover {
  color: white;
}

.site-footer-social li a i {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centriranje drustvenih ikona u srediste kruga u footeru */
}

p.lead {
  color: #737373;
}

section.slika1 {
  text-align: center;
  width: 80%;
  height: 90vh;
  background: url(pexels-photo-261102.jpeg);
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;  /* Slika iznad footera - centriranje u div-u */
  position: relative;
}

.services {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.okvir {
  width: 350px;
  height: 400px;
  background-color: white;
  /*
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  Drugi nacin poravnanja div-a unutar drugog div-a
  */
  padding: 30px;

}

.p-text {
  color: #737373;
  margin-bottom: 3rem;
}

.room {
  color: black;
  border: 1px solid black;
  padding: 1rem 1rem;
  text-decoration: none;
  transition: 1s;
}

.room:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
    nav {
      display: flex;
      height: 100px;
      padding: 10px 40px;
    }
    nav ul {
      display: flex;
    }
}

@media only screen and (max-width: 768px) {
    nav {
      display: flex;
      height: 100px;
      padding: 10px 5px;
    }
    nav ul {
      display: flex;
    }
    nav ul li a {
      line-height: 80px;
      padding: 12px 20px;
    }
    nav .logo {
      padding: 22px 20px;
      font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
  section.slika1  {
      padding: 0 30px;
    }
    nav {
      display: block;
      height: 100px;
      padding: 10px 0px;
    }
    nav ul {
      display: none;
      text-align: center;
      float: none;
    }
    nav .logo {
      display: block;
      width: 100%;
    }
    nav .logo i {
      display: inline-block;
      float: right;
      /* color: white; */
    }
    .active2 {
      display: block;
    }

}
